<a id="top"></a>
# Table of contents

- [1. Simultaneous Assignment](#1)
        
- [2. Imports](#2)
    
- [3. Newline \n](#3)
    
- [4. `map()` to `input.split()`](#4)

- [5.  For Loop over input ](#5)
- [6. `enumerate()`](#6)
- [7. `if__name__ == '__main__'`](#7)
- [8. `set()`](#8)
- [9. Find Runnerup](#9)
- [10. `*text to rest of split.()`](#10)
- [11. List to String](#11)
- [12. use eval to run concatennated string command](#13)
- [13. Quick repeating list](#13)
- [14. Reverse list slicing](#14)
- [15. any()](#15)
- [16. str.method('string here')](#16)
- [17. Regex](#17)
- [18. TextWrap](#18)
- [19. Pyinputplus](#19)
- [20. `range(len)` vs enumerate](#20)
- [21. bisect sorting](#21)
- [22. Unpacking in loops and with *](#22)
- [23. ZIp](#23)
- [24. Set](#24)
- [25. `itertools.product()`](#25)
- [26. `itertools.permutation()`](#26)
- [27. * unpacking with generators and sep](#27)
- [28.](#28)
- [29.](#29)
- [30.](#30)
- [31.](#31)
- [32.](#32)
- [33.](#33)
- [34.](#34)

 



 <a id=""></a>

____

<a id="1"></a>
# 1. Simultaneous Assignment
([go to top](#top))

In [1]:
x = 2
y = 4

In [2]:
x = y
y = x
print(x,y)

4 4

In [3]:
x = 2
y = 4

In [4]:
x,y = y,x
print(x,y)

4 2

In [5]:
lst = [1, 2, 3]
lst[0] = lst [2]
lst
# here the value of list[0] is replaced

[3, 2, 3]

In [6]:
lst = [1, 2, 3]
lst[0], lst[2] = lst [2], lst[0]
lst
# here the values are swapped

[3, 2, 1]

____

<a id="2"></a>
# 2. Imports  
([go to top](#top))

In [5]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd  
import seaborn as sns  
import statsmodels as sm  
import datetime as dt
from random import *
import string
import random
import re #regex
from math import * # no need to use math.sqrt() now we can just use sqrt()

____

<a id="3"></a>
# 3. print `new line \n`,  `end="` and `sep=''`
([go to top](#top))

In [6]:
print('This program generates a username for you.')
print('see there is a blank line above me')

This program generates a username for you.
see there is a blank line above me

In [7]:
print('This program generates a username for you. \n')
print('see now there is a blank line above me')

This program generates a username for you.

see now there is a blank line above me

`----------------------------------------------------------------------------------------- `

In [2]:
nums = [1, 2, 3, 4, 5]
print (* iter(nums), sep='')

12345

In [6]:
# SEP NOT APPLICABLE

for i in nums:
    print(i, sep='')

1
2
3
4
5

`----------------------------------------------------------------------------------------- `

In [9]:
# END NOT APPLICABLE

nums = [1, 2, 3, 4, 5]
print (* iter(nums), end='')

1 2 3 4 5

In [10]:
for i in nums:
    print(i, end='')

12345

---

<a id="4"></a>
# 4. `map() to input.split()`
([go to top](#top))

In [8]:
#arr = map(int, input().split())

# do not enter decimal numbers
# python will not in a string representations of a float
# if you use int, input cannot be anything but string rep of an int
# to be safe use float, and int it later. 

# enter floats seprated by space
arr = map(float, input().split())

3.5 6.2 3.5

In [9]:
a = list(arr)
print(a)
print(a[0])
type(a[0])

[3.5, 6.2, 3.5]
3.5

float

In [93]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
n, m = map(int, input().split())
print(n)
print(m)

9 27
9
27

 ____

<a id="5"></a>
# 5. For Loop over input 
([go to top](#top))

```
for i in range(int(input())):
        name = input()
        score = float(input())

```

____

<a id="6"></a>
# 6. Enumerate
([go to top](#top))

In [10]:
avengers = ["hawkeye", "iron man", "thor", "quicksilver"]

In [11]:
e = enumerate(avengers)
d = list(e)
print(d)

[(0, 'hawkeye'), (1, 'iron man'), (2, 'thor'), (3, 'quicksilver')]

In [12]:
d[1][1]

'iron man'

In [13]:
min(d)

(0, 'hawkeye')

`----------------------------------------------------------------------------------------------------------------`

In [14]:
e = enumerate(avengers, start = 10)
print(list(e))

[(10, 'hawkeye'), (11, 'iron man'), (12, 'thor'), (13, 'quicksilver')]

`----------------------------------------------------------------------------------------------------------------`

In [15]:
avengers = [2, 3, 4, 5]

In [16]:
e = enumerate(avengers)
d = list(e)
print(d)

[(0, 2), (1, 3), (2, 4), (3, 5)]

In [17]:
d[1][1]

3

In [18]:
min(d)

(0, 2)

In [19]:
min_num = list(map(lambda num: min(d), d))

____

<a id="7"></a>
# 7. if name = main
([go to top](#top))

```
def main():
    some function
    
if__name__ == '__main__':
    #run main
    main()
        
        
OR

if__name__ == '__main__':
    
    some algo
    
```

____

<a id="8"></a>
# 8. `set()`
([go to top](#top))

- will remove duplicates and create dictinary in random order

In [20]:
lst = ['apple', 'banana', 'apple', 'orange']
lst_2 = set(lst)

In [21]:
lst_2

{'apple', 'banana', 'orange'}

____

<a id="9"></a>
# 9. Find Runnerup
- Winner is largest score, runner up is second largest score  

([go to top](#top))

In [23]:
# assuming inputs are integers only, for float use map(float, input.split())
# collect list of scores
print('Enter scores sperated by space')
arr = map(int, input().split())

# intitialise list of scores to scoreList
scoreList = list(arr)

# set the first score to be the bigges number
# make the runner up 
winner = scoreList[0]
runnerUp = winner
    
    
# if the next number is greater than the winner make the next number the winner and make the runner up the 
# former winner

# if the next number is less than the current winner but bigger than the runner, name it the runner up

# if the runner up and the winning number are the same, and the next number is less than the winner 
# mae

for i in scoreList:
    
    if i > winner:
        runnerUp = winner;
        winner = i
        #print('that ran')
    elif i > runnerUp and i < winner:
        runnerUp = i
        #print('this ran')
    elif runnerUp == winner and i < winner:
        runnerUp = i
   
            
print('\n', winner, runnerUp)

Enter scores sperated by space
2 3 5 4 1 2 5 8 1 82 3 5 4 7

 82 8

____

<a id="10"></a>
# 10. `*text to rest of split.()`
([go to top](#top))

In [24]:
text = ' hi 24 35 36'

In [25]:
words, *nums = text.split()

In [26]:
print(words)
print(nums)

hi
['24', '35', '36']

____

<a id="11"></a>
# 11. List to String
([go to top](#top))

In [27]:
lst = ['s', 't', 'h', 'y', 'u', 'i']
string(list)

NameError: name 'string' is not defined

In [29]:
"".join(lst)

'sthyui'

____

<a id="12"></a>
# 12. use eval to run concatennated string command
([go to top](#top))

In [30]:
lst = []

In [31]:
sample_input = ['insert 0 5', 'insert 1 10', 'insert 0 6', 'print', 'remove 6',  'append 9',
                'append 1', 'sort', 'print', 'pop', 'reverse', 'print']

In [32]:
for j in sample_input:
    inpt = j.split()
    
    #inpt format is ['insert', '0', '5'] or ['print'] or ['remove', '6']
    command, arguments = inpt[0], inpt[1:]
    
    if command == 'print':
        print(lst)
    else:
        # run = 'lst.' + command + '(' + 'inpt[1]' + 'inpt[2]' + ')'
        # this will cause errors cos it will say list out of range when inpt[1] isnt available
        # using inpt[1:] wont return errors just an empy list
        # ald not the best approac because what if the length of inpt is 1000
        # given lists the max argument number is probably about 3 though so i guess we can do this
        # run = 'lst.' + command + '(' + 'inpt[1:2]' + 'inpt[2:3]' + ')'
        
        #-------LOOK HERE---------------
        run = 'lst.' + command + '(' + ','.join(arguments) + ')'
        eval(run)

[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

- This is the long version

In [1]:
#N = int(input())
lst = []
    
sample_input = ['insert 0 5', 'insert 1 10', 'insert 0 6', 'print', 'remove 6',  'append 9',
                'append 1', 'sort', 'print', 'pop', 'reverse', 'print']

for j in sample_input:
    command, *rest = j.split()
    if command == 'insert':
        rest_val = list(map(int, rest))
        lst.insert(rest_val[0], rest_val[1])
    if command == 'append':
        lst.append(int(rest[0]))
    if command == 'remove':
        lst.remove(int(rest[0]))
    if command == 'sort':
        lst.sort()
    if command == 'pop':
        lst.pop(-1)
    if command == 'reverse':
        lst.reverse()
    if command == 'print':
        print(lst)

[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

____

<a id="13"></a>
# 13. Quick repeating list
([go to top](#top))

In [3]:
dice = [0]*5
dice

[0, 0, 0, 0, 0]

____

<a id="14"></a>
# 14. Reverse list slicing
([go to top](#top))

In [1]:
lst = ['1', '2', '3', '4', '5']

In [57]:
lst[5::-1]

['5', '4', '3', '2', '1']

In [56]:
lst[::-1]

['5', '4', '3', '2', '1']

____

<a id="15"></a>
# 15. `any()`
([go to top](#top))

In [2]:
lst = [1, 2, 3, 4, False]

In [4]:
# is there any item in lst that is True
any(lst)

True

____

<a id="16"></a>
# 16. `type.method(variable of said type)`
([go to top](#top))

In [5]:
'a'.isupper()

False

In [7]:
type('a').isupper('a')

False

In [8]:
str.isupper('a')

False

In [10]:
type('a')

str

In [13]:
s = 'yyy'

for method in [str.isalnum, str.isalpha, str.isdigit, str.islower, str.isupper]:
    print(any(method(c) for c in s))

True
True
False
True
False

____

<a id="17"></a>
# 17. REGEX
([go to top](#top))

In [1]:
import re

____

<a id="18"></a>
# 18. Text Wrap
([go to top](#top))

In [17]:
import textwrap

def wrap(string, max_width):
    return textwrap.wrap(string, max_width)

if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)
    
# input = asdfghjklqwertyuiop
# input 2 = 4

asdfghjklqwertyuiop
4
['asdf', 'ghjk', 'lqwe', 'rtyu', 'iop']

In [18]:
import textwrap

def wrap(string, max_width):
    wrap = textwrap.wrap(string, max_width)
    return '\n'.join(wrap)

if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)

asdfghjklqwertyuiop
4
asdf
ghjk
lqwe
rtyu
iop

In [28]:
# without textwrap

str, max_width = input(), int(input())
result = [str[i:i+max_width]for i in range(0, len(str), max_width)]
print('\n'.join(result))

asdfghjklqwertyuiop
4
asdf
ghjk
lqwe
rtyu
iop

In [28]:
# without textwrap

str = 'asdfghjklqwertyuiop'
max_width = 4
for i in zip(strm range(max-widt):
    if 
print('\n'.join(result))

asdfghjklqwertyuiop
4
asdf
ghjk
lqwe
rtyu
iop

____

<a id="19"></a>
# 19. Pyinputplus
([go to top](#top))

____

<a id="20"></a>
# 20. `range(len)` vs enumerate
- converting a list of string to a list of ints  


([go to top](#top))

In [9]:
str = '3456789172'
lst = list(str)

`-----------------------------------------------------------------------------------------------------------------`

In [10]:
lst

['3', '4', '5', '6', '7', '8', '9', '1', '7', '2']

In [11]:
for i in range(len(lst)):
    lst[i] = int(lst[i])
    
lst

[3, 4, 5, 6, 7, 8, 9, 1, 7, 2]

`-----------------------------------------------------------------------------------------------------------------`

In [12]:
lst = list(str)
lst

['3', '4', '5', '6', '7', '8', '9', '1', '7', '2']

In [13]:
for i, num in enumerate(lst):
    lst[i] = int(num)
    
lst

[3, 4, 5, 6, 7, 8, 9, 1, 7, 2]

____

<a id="21"></a>
# 21. bisect sorting
([go to top](#top))

In [4]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]

4

- `bisect.bisect(list, insert)` finds the location where an element should be inserted to keep it sor‐ ted, 
- while `bisect.insort(list, insert)` actually inserts the element into that location:

In [5]:
bisect.bisect(c, 2)

4

In [3]:
bisect.bisect(c, 5)

6

In [6]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

____

<a id="22"></a>
# 22. Unpacking in loops and with *
([go to top](#top))

In [7]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

# for the first loop around it's doing  a, b, c, = (1,2,3)
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

`-----------------------------------------------------------------------------------------------------------------`

In [8]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [9]:
rest

[3, 4, 5]

____

<a id="23"></a>
# 23. zip
- `zip` “pairs” up the elements of a number of `lists, tuples, or other sequences` to create a `list of tuples`:
- `zip` can take an arbitrary number of sequences, and the number of elements it produces is determined by the shortest sequence  


([go to top](#top))

In [16]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two')]

In [17]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [18]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

`-----------------------------------------------------------------------------------------------------------------`

In [20]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

`-----------------------------------------------------------------------------------------------------------------`

In [21]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Curt', 'Schilling')]
first_names, last_names = zip(*pitchers)

In [22]:
first_names

('Nolan', 'Roger', 'Curt')

In [23]:
last_names

('Ryan', 'Clemens', 'Schilling')

____

<a id="24"></a>
# 24. set
- A set is an unordered collection of unique elements. You can think of them like dicts, but keys only, no values.
- A set can be created in two ways: 
 - via the `set()` function or 
 - via a set literal with curly braces `{}`:   

([go to top](#top))

In [24]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [28]:
{2, 2, 2, 1, 3, 4, 4 }

{1, 2, 3, 4}

`-----------------------------------------------------------------------------------------------------------------`

In [33]:
a = {1, 2, 3, 5}
b = {3, 4, 5, 6, 7, 8}

`-----------------------------------------------------------------------------------------------------------------`

In [36]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

`-----------------------------------------------------------------------------------------------------------------`

In [38]:
a.intersection(b)

{3, 5}

In [39]:
a & b

{3, 5}

`-----------------------------------------------------------------------------------------------------------------`

In [ ]:
a. # press tab to see all possible methodsv=

![](images/set.png)

`-----------------------------------------------------------------------------------------------------------------`

In [44]:
print(a)
print(b)
print(a|b)

{1, 2, 3, 5}
{3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
c = a.copy() #copies a
c

{1, 2, 3, 5}

In [45]:
c |= b #a becomes unnion of c and b
c

{1, 2, 3, 4, 5, 6, 7, 8}

`-----------------------------------------------------------------------------------------------------------------`

In [46]:
d = a.copy() #copies a
d &= b       #d becomes intersection of d and b
d

{3, 5}

`-----------------------------------------------------------------------------------------------------------------`

- Like dicts, `set elements generally must be immutable`. 
- `To have list-like elements, you must convert it to a tuple`:

In [47]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

`-----------------------------------------------------------------------------------------------------------------`

- You can also check if a set is a `subset of (is contained in)` or a `superset of (contains all elements of)` another set:

In [49]:
a_set = {1, 2, 3, 4, 5}

In [50]:
{1, 2, 3}.issubset(a_set)

True

In [51]:
a_set.issuperset({1, 2, 3})

True

In [52]:
{1, 2, 3} == {3, 2, 1}

True

`-----------------------------------------------------------------------------------------------------------------`

- Set comprehensions

`set_comp = {expr for value in collection if condition}`

____

<a id="25"></a>
# 25. Itertools
-  https://docs.python.org/3/library/itertools.html?highlight=itertools  


([go to top](#top))

## `itertools.product()`
- This tool computes the cartesian product of input iterables. 
- It is equivalent to nested for-loops. 
- For example, `product(A, B) returns the same as ((x,y) for x in A for y in B).`
- For example, `product(A, repeat=4) means the same as product(A, A, A, A).`

In [1]:
import itertools

In [24]:
a = [1, 2]
b = [3, 4]
c = [5, 6, 7]
d = [[8, 9, 10],[2, 3, 4]]

In [25]:
e = list(itertools.product(a,b)) 
e

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [26]:
f = list(itertools.product(a,b, repeat=2))
f

[(1, 3, 1, 3),
 (1, 3, 1, 4),
 (1, 3, 2, 3),
 (1, 3, 2, 4),
 (1, 4, 1, 3),
 (1, 4, 1, 4),
 (1, 4, 2, 3),
 (1, 4, 2, 4),
 (2, 3, 1, 3),
 (2, 3, 1, 4),
 (2, 3, 2, 3),
 (2, 3, 2, 4),
 (2, 4, 1, 3),
 (2, 4, 1, 4),
 (2, 4, 2, 3),
 (2, 4, 2, 4)]

In [27]:
# c = [5, 6, 7]
g = list(itertools.product(c)) 
g

[(5,), (6,), (7,)]

In [28]:
# c = [5, 6, 7]
g = list(itertools.product(c, repeat = 2)) 
g

[(5, 5), (5, 6), (5, 7), (6, 5), (6, 6), (6, 7), (7, 5), (7, 6), (7, 7)]

In [32]:
# d = [[8, 9, 10],[2, 3, 4]]
h = list(itertools.product(*d)) 
h

[(8, 2), (8, 3), (8, 4), (9, 2), (9, 3), (9, 4), (10, 2), (10, 3), (10, 4)]

____

<a id="26"></a>
# 26. `itertools.permutations(iterable, r)`
- This tool returns successive  length permutations of elements in an iterable.
- If `r` is not specified or is None, 
 - then  defaults to the length of the iterable, and all possible full length permutations are generated.
- Permutations are printed in a lexicographic sorted order. 
- So, if the input iterable is sorted, the permutation tuples will be produced in a sorted order.  


([go to top](#top))

In [1]:
import itertools

In [2]:
lst = ['H', '2', '3', '4']

In [3]:
print(itertools.permutations(lst))

<itertools.permutations object at 0x7fbc317333b0>

In [4]:
display(list(itertools.permutations(lst)))

[('H', '2', '3', '4'),
 ('H', '2', '4', '3'),
 ('H', '3', '2', '4'),
 ('H', '3', '4', '2'),
 ('H', '4', '2', '3'),
 ('H', '4', '3', '2'),
 ('2', 'H', '3', '4'),
 ('2', 'H', '4', '3'),
 ('2', '3', 'H', '4'),
 ('2', '3', '4', 'H'),
 ('2', '4', 'H', '3'),
 ('2', '4', '3', 'H'),
 ('3', 'H', '2', '4'),
 ('3', 'H', '4', '2'),
 ('3', '2', 'H', '4'),
 ('3', '2', '4', 'H'),
 ('3', '4', 'H', '2'),
 ('3', '4', '2', 'H'),
 ('4', 'H', '2', '3'),
 ('4', 'H', '3', '2'),
 ('4', '2', 'H', '3'),
 ('4', '2', '3', 'H'),
 ('4', '3', 'H', '2'),
 ('4', '3', '2', 'H')]

In [5]:
display(list(itertools.permutations(lst, 2)))

[('H', '2'),
 ('H', '3'),
 ('H', '4'),
 ('2', 'H'),
 ('2', '3'),
 ('2', '4'),
 ('3', 'H'),
 ('3', '2'),
 ('3', '4'),
 ('4', 'H'),
 ('4', '2'),
 ('4', '3')]

In [9]:
display(list(itertools.permutations('abc')))

[('a', 'b', 'c'),
 ('a', 'c', 'b'),
 ('b', 'a', 'c'),
 ('b', 'c', 'a'),
 ('c', 'a', 'b'),
 ('c', 'b', 'a')]

____

<a id="27"></a>
# 27. * unpacking with generators and sep
([go to top](#top))

In [12]:
count_gen = (num for num in range(10 ** 1))
print(next(count_gen))
print(next(count_gen))

0
1

In [14]:
count_gen = (num for num in range(10 ** 1))
print(* count_gen)

0 1 2 3 4 5 6 7 8 9

In [15]:
count_gen = (num for num in range(10 ** 1))
print(* count_gen, sep='\n')

0
1
2
3
4
5
6
7
8
9

____

<a id="28"></a>
# 28. from collections import Counter
- A counter is a container that stores elements as dictionary keys, and their counts are stored as dictionary values.  

([go to top](#top))

In [40]:
import collections as col

In [41]:
myList = [1,1,2,3,4,5,3,2,3,4,2,1,2,3]
count = col.Counter(myList)
print(count)

Counter({2: 4, 3: 4, 1: 3, 4: 2, 5: 1})

In [42]:
count.items()

dict_items([(1, 3), (2, 4), (3, 4), (4, 2), (5, 1)])

In [43]:
count.keys()

dict_keys([1, 2, 3, 4, 5])

In [44]:
count.values()

dict_values([3, 4, 4, 2, 1])

In [45]:
count[1]

3

In [46]:
count[1] -= 3
count[1]

0

____

<a id="29"></a>
# 29. space sepereted inputs to a list
([go to top](#top))

In [10]:
x = input().split()
x

2 3 4 5

['2', '3', '4', '5']

In [9]:
x = list(map(int, input().split()))
x

2 3 4 5

[2, 3, 4, 5]

____

<a id="25"></a>
# 25. data.describe
([go to top](#top))

In [2]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.040841    -0.057687    -0.038093    -0.018076
std       1.005664     1.002523     0.981821     1.010046
min      -3.786449    -3.559953    -3.278198    -3.434762
25%      -0.602606    -0.745181    -0.663154    -0.726588
50%       0.098918    -0.074527    -0.039172    -0.034692
75%       0.698403     0.632445     0.587223     0.642031
max       3.912324     3.740455     3.026693     3.727204

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

<a id="25"></a>
# 25. Title
([go to top](#top))

____

____