<a id="top"></a>
# Table of contents


   
- [Datetime](#datetime)
    - [Datetime to String](#datetime-as-string)
    - [String to Datetime](#string-to-datetime)
    - [Time Delta](#time-delta)
    - [Datetime Format Specification](#datetime-format)


- [print( )](#print)
    - [end = "\n" newline](#newline)


- [input( )](#input)
    - [use `eval()` when the input is a number](#eval())


- [Loops](#loops)
    - [loops with lists](#loop-list)
    - [loops with range](#loop-range)
    - [](#)


- [Math Library](#math-lib)
    
- [Range](#range)
    - [indexing](#range-index)
 
    
- [](#)
    - [](#)
    - [](#)
    - [](#)

 <a id=""></a> 
 ([go to top](#top))

___

<a id="jupyter-notebook"></a>

___

<a id="datetime"></a>
# Datetime
([go to top](#top))

- The built-in Python datetime module provides datetime, date, and time types. The datetime type, as you may imagine, combines the information stored in date and time and is the most commonly used:

In [56]:
import datetime as dt

In [69]:
today = dt.datetime(2021, 3, 17, 11, 33, 30)

In [70]:
today.year

2021

In [71]:
today.month

3

In [72]:
today.day

17

In [73]:
today.hour

11

In [74]:
today.minute

33

In [75]:
today.second

30

In [78]:
# dt?

- Given a datetime -instance, you can extract the equivalent date and time objects by calling methods on the datetime of the same name:

In [79]:
today.date()

datetime.date(2021, 3, 17)

In [80]:
today.time()

datetime.time(11, 33, 30)

<a id="datetime-as-string"></a>
### Datetime as a String  
The strftime method formats a datetime as a string:  
([go to top](#top))

In [81]:
today

datetime.datetime(2021, 3, 17, 11, 33, 30)

In [82]:
today.strftime('%m/%d/%Y %H:%M')

'03/17/2021 11:33'

<a id="string-to-datetime"></a>
### String to Datetime  
 ([go to top](#top))

In [83]:
today.strptime('03/17/2021', '%m/%d/%Y')

datetime.datetime(2021, 3, 17, 0, 0)

<a id="datetime-replace"></a>
### Replace:`replace()`  
([go to top](#top))

In [84]:
today

datetime.datetime(2021, 3, 17, 11, 33, 30)

In [85]:
today.replace(minute=0, second = 0)

datetime.datetime(2021, 3, 17, 11, 0)

In [96]:
today

datetime.datetime(2021, 3, 17, 11, 33, 30)

- Since datetime.datetime is an immutable type, methods like these always produce new objects.

In [98]:
today_2 = today.replace(minute=0, second = 0)
today_2

datetime.datetime(2021, 3, 17, 11, 0)

<a id="time-delta"></a>
### TimeDelta
The difference of two datetime objects produces a datetime.timedelta type  
You can also add a timedelta to a datetime and produce a shifted datetime  
([go to top](#top))

- The output datetime.timedelta(days=31, seconds=1200) indicates that the timedelta encodes an offset of 31
days and 1200 seconds.

In [104]:
today_3 = dt.datetime(2021, 4, 17, 11, 53, 30)

In [108]:
delta = today_3 - today
delta

datetime.timedelta(days=31, seconds=1200)

In [109]:
type(delta)

datetime.timedelta

<a id="datetime-format"></a>
### Datetime Format Specification  
([go to top](#top))

%Y - 4-digit year 

%y - 2-digit year  

%m - Two-digit month [01, 12]  

%d - Two-digit day [01, 31]    

%H - Hour (24-hour clock) [00, 23]  

%I - Hour (12-hour clock) [01, 12]  

%M - Two-digit minute [00, 59]  

%S - Second [00, 61] (seconds 60, 61 account for leap seconds)  

%w - Weekday as integer [0 (Sunday), 6]  

%U - Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of the year are “week 0”  

%W - Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of the year are “week 0”  

%z - UTC time zone offset as+HHMMor-HHMM; empty if time zone naive  

%F - Shortcut for%Y-%m-%d(e.g.,2012-4-18)  

%D - Shortcut for%m/%d/%y(e.g.,04/18/12)

----

<a id="print"></a>
# Print
([go to top](#top))

<a id="newline"></a>
### `end = "\n"` newline
The default behvioir od the print function is to create a new line at the end of the print statement
you can edit the by changlied the value of the 'end' attribute  
        `print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)`  
([go to top](#top))

In [5]:
print("next print function will be on new line")
print("see")

next print function will be on new line
see

In [8]:
print("next print function will be on new same line", end=' ')
print("...see")

next print function will be on new same line ...see

___

<a id="input"></a>
# Input
([go to top](#top))

<a id="eval()"></a>
### use `eval()` when the input is a number

In [11]:
x = input("Enter a number: ")
print(type(x))

Enter a number: 3
<class 'str'>

In [12]:
x = eval(input("Enter a number: "))
print(type(x))

Enter a number: 3
<class 'int'>

In [33]:
x,y,z = eval(input("Enter numbers (x,y,z): "))
print(type(x))
print(x,z)

Enter numbers (x,y,z): 2,3,4
<class 'int'>
2 4

- using`eval()` is dagerour as it will cause python to evaluate whatever the user inputs which could be malicious code

In [17]:
#enter 3+4+5
x = eval(input("Enter a number: "))
print(type(x))
print(x)

Enter a number: 3+4+5
<class 'int'>
12

----

<a id="loops"></a> 
# Loops
([go to top](#top))

<a id="loop-list"></a> 
### Loops with Lists
([go to top](#top))

In [29]:

for num in [0,1,2,3,4,5,6,7,8,9]:
    print(num)

0
1
2
3
4
5
6
7
8
9

<a id="loop-range"></a> 
### Loops with Range
([go to top](#top))

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
numbers = [1,2,3,4,5,6,7,8,9]
for i in range(len(numbers)):
    print(numbers[i])

1
2
3
4
5
6
7
8
9

---

<a id="math-lib"></a> 
# Math Library
([go to top](#top))


`math.pi`  
`math.e`  
`math.sqrt(x)`  
`math.sin(x)`  
`math.cos(x)`  
`math.tan(x)`  
`math.asin(x)`  
`math.acos(x)`    
`math.atan(x)`  
`math.log(x)`  
`math.log10(x)`  
`math.exp(x)`  
`math.ceil(x)`  - The smallest whole number`>=` x.  
`math.floor(x)`  -The largest whole number `<=` x.

<a id="range"></a> 
# Range
([go to top](#top))

<a id="range-index"></a> 
### Indexing
([go to top](#top))

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
list(range(2,10,1))

[2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list(range(2,10,2))

[2, 4, 6, 8]

In [45]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]